streamlit
pdfplumber
pypdf
langchain-text-splitters
transformers
torch --index-url https://download.pytorch.org/whl/cpu
spacy
fpdf
rich==13.7.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
